# Generated code by ExaHyPE
*_generated.cpp
cfiles.mk
buildinfo.h

# Any kind of log files created by some editors
# (swap files or temporary files)
*~
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# Eclipse projects
.cproject
.project
.settings

# Python compiled files
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output
*.vtk
*.log-file

# Any kind of archives
*.zip
*.tar.gz
*.tar.gzip
*.tar.bzip

#Toolkit binaries
Toolkit/dist

# Peano directories:
# As Peano ships it own .gitignore, this must be stated
# here. Note also that Peano is managed with subversion
Peano/peano-ExplicitEulerForHeatEquation-asserts
Peano/peano
Peano/tarch
Peano/files.mk
Peano/.svn
Peano/.cvsignore
Peano/.gitignore
Peano/peano.doxygen-configuration
Peano/src.doxys
Peano/sharedmemoryoracles.tar.gz

# libXSMM
libxsmm
Libxsmm
