# moved from Peano/ directory
# as peano ships it own .gitignore
# Note also that Peano is managed with subversion

Peano/peano-ExplicitEulerForHeatEquation-asserts
Peano/peano
Peano/tarch
Peano/files.mk
Peano/.svn
Peano/.cvsignore
Peano/peano.doxygen-configuration
Peano/src.doxys
Peano//sharedmemoryoracles.tar.gz

