# gitignore for SRMHD_LimitingADERDG
AbstractMHDSolver_ADERDG.cpp
AbstractMHDSolver_ADERDG.h
AbstractMHDSolver_FV.cpp
AbstractMHDSolver_FV.h
ConservedWriter.cpp
ConservedWriter.h
MHDSolver_ADERDG.h
MHDSolver_ADERDG_Variables.h
MHDSolver_FV.h
MHDSolver_FV_Variables.h

*.log
*.log-file
