#!/bin/bash

# source this script before calling make in order
# to load/activate the linking for the PizzaTOV neutron star code.

ExternalLibraries="../../ExternalLibraries"

# Activate Pizza (needs BOOST and GSL):
HOME_PIZZATOV="$ExternalLibraries/PizzaTOV"
source $HOME_PIZZATOV/projectlink.inc.sh
export PROJECT_CFLAGS="${PROJECT_CFLAGS} ${PIZZA_CFLAGS}"
export PROJECT_LFLAGS="${PROJECT_LFLAGS} ${PIZZA_LFLAGS}"
echo "Activating Pizza flag: $PIZZA_CFLAGS"

# Activate RNSID (no dependencies):
HOME_RNSID="$ExternalLibraries/RNSID"
source $HOME_RNSID/projectlink.inc.sh
export PROJECT_CFLAGS="${PROJECT_CFLAGS} ${RNSID_CFLAGS}"
echo "Activating RNSID flag: $RNSID_CFLAGS"

# to activate HDF5
source $ExternalLibraries/HDF5.inc.sh
export PROJECT_CFLAGS="${PROJECT_CFLAGS} ${HDF5_CFLAGS}"
export PROJECT_LFLAGS="${PROJECT_LFLAGS} ${HDF5_LFLAGS}"
echo "Activating HDF5 flag: $HDF5_CFLAGS"


